
/*IE PNG Fix*/
    html{
        behavior: expression(
            this.style.behavior || (
            this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='"+this.currentStyle.getAttribute("backgroundImage").slice(5,-2)+"')",
            this.style.backgroundImage = "none",
            this.style.behaivor = "none"
            )
        );
    }
@font-face{
    font-family:"Graublau Web";
    src:url("GraublauWeb.eot");
    src:local("@"),
    url("GraublauWeb.woff") format("woff"),
    url("GraublauWeb.otf") format("opentype"),
    url("GraublauWeb.svg#grablau") format("svg");
}
